Checks: >-
  *,-llvm-header-guard
  ,-google-runtime-int
  ,-llvm-include-order
  ,-linuxkernel-*
  ,-fuchsia-*
  ,fuchsia-trailing-return
  ,-cppcoreguidelines-avoid-do-while
  ,-android-comparison-in-temp-failure-retry
  ,-altera-*
  ,-abseil-*
  ,-google-objc-*
  ,-llvmlibc-*
  ,-llvm-namespace-comment
  ,-objc-*
  ,-modernize-use-trailing-return-type
  ,-readability-identifier-length
  ,-google-build-using-namespace
  ,-*-braces-around-statements
  ,-google-readability-namespace-comments
  ,-cppcoreguidelines-pro-*
  ,-cppcoreguidelines-non-private-member-variables-in-classes
  ,-bugprone-easily-swappable-parameters
  ,-*-avoid-c-arrays
  ,-misc-non-private-member-variables-in-classes
  ,-readability-const-return-type
  ,-cppcoreguidelines-avoid-const-or-ref-data-members
  ,-clang-diagnostic-unused-macros
WarningsAsErrors: >-
  *,-llvm-header-guard
  ,-google-runtime-int
  ,-llvm-include-order
  ,-linuxkernel-*
  ,-fuchsia-*
  ,fuchsia-trailing-return
  ,-cppcoreguidelines-avoid-do-while
  ,-android-comparison-in-temp-failure-retry
  ,-altera-*
  ,-abseil-*
  ,-google-objc-*
  ,-llvmlibc-*
  ,-llvm-namespace-comment
  ,-objc-*
  ,-modernize-use-trailing-return-type
  ,-readability-identifier-length
  ,-google-build-using-namespace
  ,-*-braces-around-statements
  ,-google-readability-namespace-comments
  ,-cppcoreguidelines-pro-*
  ,-cppcoreguidelines-non-private-member-variables-in-classes
  ,-bugprone-easily-swappable-parameters
  ,-*-avoid-c-arrays
  ,-misc-non-private-member-variables-in-classes
  ,-readability-const-return-type
  ,-clang-diagnostic-unused-command-line-argument

CheckOptions:
  readability-implicit-bool-conversion.AllowPointerConditions: "true"

